# Skewness and Kurtosis Module
This module is used to calculate skewness and kutosis module

In [4]:
import pandas as pd
import skewkurt as sk
a = pd.read_csv('sample data.csv')
a.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

# skewness(dataset,col):
To Calculate the skewness of a given data For normal distribute data skewness = 0 , Skewness > 0 more weight the left tail and less weight in right tail

In [5]:
sk.skewness(a,'Income')

0.28684016057807576

### kurtosis(dataset,col,ty):
To calculate Kurtosis of a given data . It can be used to calculate both fisher and pearson projection.  ty can be fisher or pearson

TO CALUATE FISHER KURTOSIS

In [6]:
sk.kurtosis(a,'Income','fisher')

-1.094383828097193

TO CALCULATE PEARSON KURTOSIS

In [7]:
 sk.kurtosis(a,'Income','fisher')

-1.094383828097193